@import '@public-assets/sass/vendor/nprogress';
@import './vendor/bootstrap-custom';
// @import './vendor/OverlayScrollbars';
@import './vendor/yaybar';
@import './vendor/jquery.fancybox';
@import './vendor/swiper.min';
// @import './vendor/chartist';
@import './vendor/rootui';
// @import './vendor/datatables';

html.rui-nightmode {
	@import './vendor/rootui-night';
}


/* PLACE YOUR CUSTOM STYLES IN THIS FILE */

.rui-widget.rui-widget-total {
	min-height: 100px;
}

#surety-validation {
	position: relative;
	left: 10px;
	top: 10px;
}

.input-group-text.verified {
	background-color: #2fc787;
	border-color: #2fc787;
	color: #fff;
}

.table td .surties {
	font-size: 12px;
}

dl.phpdebugbar-widgets-kvlist dt {
	width: auto !important;
}

.btn-xs {
	font-size: .8125rem;
	height: calc(1.5rem + 2px);
	line-height: 1.25;
	padding: .25rem .5625rem;
	font-weight: 500
}

.btn-xs.btn-svg-icon {
	width: calc(1.5rem + 2px)
}

.swal2-actions.swal2-loading .swal2-styled.swal2-confirm {
	min-width: 37px;
}
