"********************* Initial Stage **************************\n"
array:27 [
  "id" => 4
  "app_user_id" => null
  "product_category_id" => 2
  "product_model_id" => 11
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 3
  "product_grade_id" => 1
  "product_supplier_id" => 3
  "storage_size_id" => 5
  "ram_size_id" => 8
  "storage_type_id" => 4
  "processor_speed_id" => 11
  "imei" => "333334444444444"
  "serial_no" => null
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "c6628a8f-2ffe-43c8-96bc-298dbdeafe16"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-11-03T17:08:07.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 515
  "app_user_id" => null
  "product_category_id" => 5
  "product_model_id" => 52
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 33
  "product_grade_id" => 10
  "product_supplier_id" => 15
  "storage_size_id" => 13
  "ram_size_id" => 8
  "storage_type_id" => 4
  "processor_speed_id" => 11
  "imei" => null
  "serial_no" => "Fhlcpq8amltj"
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "d4f87902-2d1d-4922-ac1b-c7a02eb805dd"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-02T22:36:49.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 516
  "app_user_id" => null
  "product_category_id" => 5
  "product_model_id" => 51
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 33
  "product_grade_id" => 10
  "product_supplier_id" => 15
  "storage_size_id" => 13
  "ram_size_id" => 8
  "storage_type_id" => 4
  "processor_speed_id" => 11
  "imei" => null
  "serial_no" => "FH7XL4X7KDV1"
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "dcd57b31-a383-4b50-a40f-ca6fa1406e6b"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-02T22:42:09.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 517
  "app_user_id" => null
  "product_category_id" => 5
  "product_model_id" => 51
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 16
  "product_grade_id" => 10
  "product_supplier_id" => 15
  "storage_size_id" => 13
  "ram_size_id" => 8
  "storage_type_id" => 4
  "processor_speed_id" => 11
  "imei" => null
  "serial_no" => "Fhlxc1yfkdt7"
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "f2051548-a69f-453d-a33a-acbdbdfa9b6b"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-02T22:43:08.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 518
  "app_user_id" => null
  "product_category_id" => 5
  "product_model_id" => 49
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 3
  "product_grade_id" => 10
  "product_supplier_id" => 15
  "storage_size_id" => 12
  "ram_size_id" => 9
  "storage_type_id" => 4
  "processor_speed_id" => 11
  "imei" => null
  "serial_no" => "Fhlxd5fjkdt8"
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "fe7fa0cb-3e31-420b-899a-928ecdf6a31a"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-02T23:04:28.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 521
  "app_user_id" => null
  "product_category_id" => 5
  "product_model_id" => 49
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 3
  "product_grade_id" => 12
  "product_supplier_id" => 15
  "storage_size_id" => 12
  "ram_size_id" => 9
  "storage_type_id" => 4
  "processor_speed_id" => 11
  "imei" => null
  "serial_no" => "FH7xdcr8kdt8"
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "38c0c270-fdca-4033-a28b-f62ae55ab437"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-02T23:06:43.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 527
  "app_user_id" => null
  "product_category_id" => 5
  "product_model_id" => 49
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 3
  "product_grade_id" => 12
  "product_supplier_id" => 15
  "storage_size_id" => 10
  "ram_size_id" => 8
  "storage_type_id" => 4
  "processor_speed_id" => 11
  "imei" => null
  "serial_no" => "D92X90LMKDT8"
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "c51ae60a-6faa-4957-873a-5db5055fa055"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-02T23:13:28.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 528
  "app_user_id" => null
  "product_category_id" => 3
  "product_model_id" => 87
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 16
  "product_grade_id" => 13
  "product_supplier_id" => 15
  "storage_size_id" => 7
  "ram_size_id" => 3
  "storage_type_id" => 1
  "processor_speed_id" => 2
  "imei" => null
  "serial_no" => "Co2qd166fvh7"
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "3329d95e-27a7-4ccc-ac10-3b5fb0e18cb6"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-02T23:29:16.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 531
  "app_user_id" => null
  "product_category_id" => 3
  "product_model_id" => 87
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 16
  "product_grade_id" => 13
  "product_supplier_id" => 15
  "storage_size_id" => 3
  "ram_size_id" => 7
  "storage_type_id" => 1
  "processor_speed_id" => 2
  "imei" => "Co2qv58nfvh7"
  "serial_no" => null
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "168b62b0-980e-4fab-a774-1c99e65be6de"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-02T23:32:55.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 533
  "app_user_id" => null
  "product_category_id" => 3
  "product_model_id" => 87
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 16
  "product_grade_id" => 6
  "product_supplier_id" => 15
  "storage_size_id" => 3
  "ram_size_id" => 7
  "storage_type_id" => 1
  "processor_speed_id" => 2
  "imei" => null
  "serial_no" => "Co2s1khgfvh5"
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "bbe19285-e003-425b-af03-e25857519ac3"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-02T23:37:11.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 534
  "app_user_id" => null
  "product_category_id" => 3
  "product_model_id" => 88
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 16
  "product_grade_id" => 6
  "product_supplier_id" => 15
  "storage_size_id" => 4
  "ram_size_id" => 8
  "storage_type_id" => 1
  "processor_speed_id" => 2
  "imei" => null
  "serial_no" => "Co2l24bufh51"
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "e79a6a13-8227-4fd7-b45a-b6ef081383b9"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-02T23:38:55.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 544
  "app_user_id" => null
  "product_category_id" => 2
  "product_model_id" => 8
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 31
  "product_grade_id" => 6
  "product_supplier_id" => 15
  "storage_size_id" => 10
  "ram_size_id" => 8
  "storage_type_id" => 4
  "processor_speed_id" => 11
  "imei" => "353967108896856"
  "serial_no" => null
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "2725153f-ecbd-48e5-aa23-1d100fd9ce8b"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-03T19:59:32.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 545
  "app_user_id" => null
  "product_category_id" => 2
  "product_model_id" => 49
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 3
  "product_grade_id" => 4
  "product_supplier_id" => 15
  "storage_size_id" => 9
  "ram_size_id" => 8
  "storage_type_id" => 4
  "processor_speed_id" => 11
  "imei" => null
  "serial_no" => "D92x83n2kdt8"
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "ba9c3719-02aa-4e30-8445-fa446048b81b"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-04T17:10:47.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 550
  "app_user_id" => null
  "product_category_id" => 5
  "product_model_id" => 58
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 33
  "product_grade_id" => 10
  "product_supplier_id" => 16
  "storage_size_id" => 8
  "ram_size_id" => 9
  "storage_type_id" => 4
  "processor_speed_id" => 11
  "imei" => null
  "serial_no" => "A2291h4hdgv4vq1rg"
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "9e5b967f-b24a-41a3-995a-ede3fe888f49"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-04T17:41:03.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 553
  "app_user_id" => null
  "product_category_id" => 5
  "product_model_id" => 58
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 33
  "product_grade_id" => 10
  "product_supplier_id" => 16
  "storage_size_id" => 9
  "ram_size_id" => 9
  "storage_type_id" => 5
  "processor_speed_id" => 11
  "imei" => "D92xg349kdt8"
  "serial_no" => null
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "fd83709b-71ca-430b-98fd-c639d1fffc2d"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-04T17:43:50.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
"********************* Initial Stage **************************\n"
array:27 [
  "id" => 562
  "app_user_id" => null
  "product_category_id" => 3
  "product_model_id" => 87
  "product_brand_id" => 2
  "product_batch_id" => 1
  "product_color_id" => 16
  "product_grade_id" => 4
  "product_supplier_id" => 15
  "storage_size_id" => 7
  "ram_size_id" => 3
  "storage_type_id" => 1
  "processor_speed_id" => 2
  "imei" => null
  "serial_no" => "Co2qv58nfvh7"
  "model_no" => null
  "is_local" => 1
  "product_status_id" => 1
  "sold_at" => null
  "product_uuid" => "175d1c3a-60c8-4ec5-ac9a-23d5497594ff"
  "stocked_by" => 2
  "stocker_type" => "App\Modules\Accountant\Models\Accountant"
  "office_branch_id" => 1
  "created_at" => "2020-12-06T01:12:45.000000Z"
  "updated_at" => "2021-01-06T22:35:32.000000Z"
  "deleted_at" => null
  "product_price" => array:2 [
    "cost_price" => 0
    "proposed_selling_price" => 0
  ]
]
"********************* This is already a processed local product. Skipping.... **************************\n. \n"
""
